@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div {
  display: flex;
  align-items: space-around;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  flex: 0 0 auto;
  margin: 2px;
  
}


input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  height: 15px;
  margin-bottom: 16px;;
  flex: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #666;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-inline-start: 20px;
}

.header {
  justify-content: space-between;
  flex-direction: row;
  flex-basis: content;
  flex-shrink: 0;
  margin-right: 20px;
}

.footer {
  justify-content: space-between;
  flex-direction: row;
  flex-basis: content;
  flex-shrink: 0;
  background-color: #eee;
  padding-right: 20px;
}
